<div id = "home-container" class = "jumbotron">
  <div class= "container">
    <div id = "search-bar" class="row">
        <div class = "col-lg-12">
          <h1>Find the best area to stay.</h1>
        </div>
        <%= form_tag(search_path, :method => :get, :id=> "home-search") do %>
          <div class="form-group col-sm-10">
            <%= text_field_tag(:pac, nil, :placeholder => 'Enter a city', :class => 'form-control input-lg') %>
             <%= hidden_field_tag :state %>
            <%= hidden_field_tag :city %>
           </div>
          <div class = "form-group col-sm-2">
            <%= submit_tag("Search" , :name => nil, :class => "search-submit btn btn-primary btn-lg", :id=>"search") %>
          </div>
        <%end%>
    </div>
  </div>
</div>

  <div class = "container-fluid cities">
    <div class = "row">
      <div class = "col-sm-12 center">
      </div>
      <div class = "city-section col-md-4 col-sm-4">
        <%= link_to(image_tag("chicago_1.jpg", height: '225', width: '300', alt: 'Best area to stay in Chicago'), area_path(@chicago), html_options = { title: "The best area to stay in Chicago"}) %>
         <h3> Chicago </h3>
      </div>
       <div class = "city-section col-md-4 col-sm-4">
        <%= link_to(image_tag("new_york_2.jpg", height: '225', width: '300', alt: 'Best area to stay in New York'), area_path(@new_york), html_options = { title: "The best area to stay in New York"}) %>
        <h3> New York</h3>
      </div>
       <div class = "city-section col-md-4 col-sm-4">
        <%= link_to(image_tag("san_francisco_1.jpg", height: '225', width: '300', alt: 'Best area to stay in San Francisco'), area_path(@san_francisco), html_options = { title: "The best area to stay in San Francisco"}) %>
        <h3> San Francisco </h3>
      </div>
    </div>
  </div>
  <div class = "separator"></div>
  <div class = "container city-results">
    <div class = "row">
    <div class = "col-sm-12">
      <h3 class = "random-cities">Find the best area to stay in other cities</h3>
    </div>
      <div class = "city-list col-sm-12">
        <ul>
           <% @all_areas.each_with_index do |area, index| %>
              <li> <%= link_to area.city, area_path(area), html_options = { title: "The best area to stay in " + area.city } %> </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
 
