<div class = "container-fluid area-index">
  <div class = "row admin-search">
    <span class = "col-sm-4">
      <h1>Staybl Areas</h1>
    </span> 
    <span class = "col-sm-4">
      <div class = "row">
      <%= form_tag admin_areas_search_path, :id => 'admin-area-search', method: :get do %>
        <div class = "form-group col-sm-5">
            <%= text_field_tag :id, nil, :class => "form-control"%>
        </div>
        <div class = "btn-group col-sm-7">
          <%= submit_tag "Search", :class => "btn btn-primary"%>
        </div>
      <% end %>
      </div>
    </span>
    <span class = "col-sm-4"> <%= link_to 'New Area', new_admin_area_path %></span>
  </div>

  <div class = "row">
     <span class = "col-sm-4">
      <h2> Recently Added </h2>
    <% @new_areas.each do |area| %>
      <div class = "row">
        <div class = "col-sm-12">
          <span><%=area.name %></span>  
          <span><%= link_to 'Show', admin_area_path(area) %></span>
          <span><%= link_to 'Edit', edit_admin_area_path(area) %></span>
          <span><%= link_to 'Destroy', admin_area_path(area), method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
      </div>
    <% end %>
    
    </span>
    <span class = "col-sm-4">
      <h2> Recently Updated </h2>
      <% @updated_areas.each do |area| %>
        <div class = "row">
          <div class = "col-sm-12">
            <span><%=area.name %></span>  
            <span><%= link_to 'Show', admin_area_path(area) %></span>
            <span><%= link_to 'Edit', edit_admin_area_path(area) %></span>
            <span><%= link_to 'Destroy', admin_area_path(area), method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </div>
        </div>
      <% end %>
    </span>
   

  </div>
  <div class = "row">
  <div class = "col-sm-12">
    <h2> All areas </h2>
      <% @areas.each do |area| %>
        <div class = "row">
            <div class = "col-sm-12">
              <span><%=area.name %></span>  
              <span><%= link_to 'Show', admin_area_path(area) %></span>
              <span><%= link_to 'Edit', edit_admin_area_path(area) %></span>
              <span><%= link_to 'Destroy', admin_area_path(area), method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </div>
        </div>
      <% end %>
  </div>
</div>

