<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @area.city %>
    <%= f.hidden_field :city, :value => @area.city %>
  <% else %>
    <%= f.hidden_field :city, :value => @city %>
  <% end %>

  <%= f.hidden_field :the_geom %>

  <% if @area.name.nil? %>
    <div class="row-fluid">
      <div class = "form-element">
        <%= f.label :area_name %>
        <% if @select_list %>
        <%= f.select :id, options_for_select(@select_list) %>
        <% end%>
         <span id="new_area_name" class="hide">
          <%= f.text_field :name, :placeholder => " " %>
        </span>
      </div>
     
    </div>
  <%end%>

  <div class="row-fluid">
    
     <%= content_tag :div, :id => 'map', :class=>'editable-map', :data =>{:id=>@area.id, :state =>@state, :city => @city} do %>
        <h2>The Map</h2>
        <div id = "map-canvas">
        </div>
      <%end%>
    </div>
  

  <div class="row-fluid">
    <div class="actions center area-submit">
        <%= f.submit(:value => 'Add Area', :class=>'btn') %>
    </div>
  </div>

<% end %>
