<%= form_for (@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error-box" class = "span5 offset5">
      <h2>It seems we have a problem.</h2>

      <% @area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>


  <%= f.hidden_field :city, :value => @city %>
  <%= f.hidden_field :state, :value => @state %>
  <%= f.hidden_field :the_geom, :value => ''%>


    <div id = "new_area_name" class="row-fluid">
         <span class="span8 offset2">
            <h2> Area Name</h2>
            <%= f.text_field :name, :placeholder => " " %>
        </span>
    </div>

     <div id = "new-instructions" class = "row-fluid">
      <span class = "span8 offset2">
          <h2> Area Map </h2>
          <p>
          Help us put this area on the map. First, find the area on the map that you would like to highlight. Then click on Start Drawing at the top of the map. Next, click on the map to add your first point. You can add as many or as few points as you like, as long as the area is fully outlined when you are done. 
          </p>
        </span>
    </div>
     <%= content_tag :div, :id => 'map', :class=>'editable-map', :data =>{:id=>@area.id, :state =>@state, :city => @city} do %>
        <div id = "map-canvas">
        </div>
      <%end%>

   <!--  <div class= "row-fluid">
        <span class="span8 offset2">
            <h2> About the Area (Optional)</h2>
            <p>
              Here you can share your knowledge of the area. We depend on both locals and frequent visitors to help us find the best areas to stay. We'll use your input to help build a comprehensive guide of the best areas to stay in <%= @city %>.  
            </p>
          <%= f.text_area :description, :placeholder => " " %>
        </span>
    </div> -->
  

  <div class="row-fluid">
    <div class="actions center area-submit">
        <%= f.submit(:value => 'Save This Area', :class=>'btn btn-large') %>
    </div>
  </div>

<% end %>
