<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "form-element">
  <%= f.hidden_field :city, :value => @city %>
</div>

<div class = "form-element">
  <%= f.label :area_name %>
  <%= f.text_field :name, :autofocus => true %>
</div>

<div class = "form-element">
  <%= f.label :area_description%>
  <%= f.text_area :description %>
</div>

<div id = "map">
    <h2>Map</h2>
    <div id="map-canvas">
    </div>
</div>

<div class="actions center area-submit">
    <%= f.submit(:class=>'btn') %>
</div>
<% end %>
