<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @area.city %>
  <%= f.hidden_field :city, :value => @area.city %>
  <% else %>
  <%= f.hidden_field :city, :value => @city %>
  <% end %>

  <%= f.hidden_field :coordinates %>

  <div class="row-fluid">
    <div class = "form-element">
      <%= f.label :area_name %>
      <%= f.text_field :name, :autofocus => true %>
    </div>
  </div>

  <div class = "row-fluid">
    <div class = "form-element">
      <%= f.label :area_description%>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="row-fluid">
    <% if @area.id %>
     <%= content_tag :div, :id => 'edit-map', :data => {:id=>@area.id} do %>
        <h2>Edit The Map</h2>
        <div id="map-canvas">
        </div>
     <% end %>
    <% else %>
     <div id = "new-map" >
      <p>Help us out by drawing an outline of this area. Click on the map to set the points. You can remove a point by right clicking. When you're done the area should fill in green. 
        </p>
        <div id = "new-map">
        </div>
      </div>
    <% end %>
     

 

  <div class="row-fluid">
    <div class="actions center area-submit">
        <%= f.submit(:class=>'btn') %>
    </div>
  </div>

<% end %>
