<% hotels.each do |hotel| %>
  <div class = "hotel row">
    <span class = "hotel-image col-md-3">
      <img src = <%= hotel.image_url %> />
    </span>
    <span class = "hotel-name col-md-6">
      <span class = "hotel-link"> <%= link_to hotel.name, hotel.url, :html_options => { class: 'hotel-name' } %>
      </span>
      <div class = "hotel-address">
      <%= hotel.location.display_address.join(", ") %>
      </div>
      <div class = "hotel-telephone">
      <%= hotel.display_phone %>
      </div>

    </span>
    <span class = "hotel-reviews col-md-3">
      <img src = <%= hotel.rating_img_url %> />
      <div class = "reviews"> <%= hotel.review_count %> reviews </div>  
    </span>
  </div>
<%end%>