  <div id = "areas" class = "container-fluid no-padding">
    <%if @area %>
      <ul id="area-list">
      <%= content_tag :li, :id => @area.name, :class=> 'primary', :data => {:id=>@area.id, :position=>0, :votes => @area.plusminus} do %>
          <div id = "votes" class="votes">
            <%= render :partial =>'areas/votes', :locals => { :area => @area, :primary => true }%>
          </div>
      <% end %>
      <%if @areas.any? %>
        <% @areas.each.with_index(1) do |area, index| %>
          <%= content_tag :li, :id => area.name, :class=> 'secondary', :data => {:id=>area.id, :position=> index, :votes => area.plusminus} do %>
            <div id ="votes" class="votes">
               <%= render :partial => 'areas/votes', :locals => { :area => area, :primary => false } %>
            </div>
          <% end %>
        <% end %>
    <%end%> 
  </ul>
   <div id = "additional-areas" class="row-fluid">
        <%if @areas.any? %>
          <span id = "show-more" class = "span2">More Areas</span>
           <span id = "add-area" class = "span2 hide offset8">
            <li class='center add-area'><%= link_to "New Area" ,new_area_path(:state=>@state, :city =>@city) %></li>
          </span>
        <% else %>
          <span id = "add-area" class = "span2">
            <li class='center add-area'><%= link_to "Add A New Area" ,new_area_path(:state=>@state, :city =>@city) %></li>
          </span>
        <%end%>

       
    </div>
  <%else%>
    <div class='primary'>
      <li><h2>still up for grabs</h2></li>
      <li class='center first-area'><%= link_to "Tell us where you like to stay." , new_area_path(:state => @state, :city => @city) %></li>
    </div>
  <%end%>
</div>
  
