<% restaurants.each do |restaurant| %>
  <div class = "restaurant row">
    <span class = "restaurant-image col-md-3">
      <img src = <%= restaurant.image_url %> />
    </span>
    <span class = "restaurant-name col-md-6">
      <span class = "restaurant-link"> <%= link_to restaurant.name, restaurant.url, :html_options => { class: 'restaurant-name' } %>
      </span>
      <div class = "restaurant-address">
      <%= restaurant.location.display_address.join(", ") %>
      </div>
      <div class = "restaurant-telephone">
      <%= restaurant.display_phone %>
      </div>
       <div class = "categories">
        Categories: 
         <%= restaurant.categories.map{ |category| category[0]}.join(", ") %>
      </div>
    </span>
    <span class = "restaurant-reviews col-md-3">
      <img src = <%= restaurant.rating_img_url %> />
      <div class = "reviews"> <%= restaurant.review_count %> reviews </div>  
    </span>
  </div>
<%end%>