
<%if primary %>
  <div class="area row-fluid">
   <span class = "span1 offset1 center area-down-vote">
      <%= link_to image_tag("arrow_down_64.png"), vote_down_area_path(:state => area.state, :city => area.city, :id => area.id), :method => :post, :remote=>true, :class=> current_user && current_user.voted_against?(area) ? ' downvote downvoted' : 'downvote' %>
    </span>
        <span class = "span8">
            <h2><%= area.name %></h2>
            <span class = "tally"><%= render :partial =>'areas/tally', :locals => {:area => area}%></span>
        </span>

     <span class = "span1 center area-up-vote">
      <%= link_to image_tag("arrow_up_64.png"), vote_up_area_path(:state => area.state, :city => area.city, :id => area.id), :method => :post, :remote=>true, :class=> current_user &&current_user.voted_for?(area) ? 'upvote upvoted ' : 'upvote' %>
    </span>

  </div>

<% else %>
  <div class = "area row-fluid">
      <span class = "span1 offset1 center hide area-down-vote">
          <%= link_to image_tag("arrow_down_64.png"), vote_down_area_path(:state => area.state, :city => area.city, :id => area.id), :method => :post, :remote=>true, :class=> current_user && current_user.voted_against?(area) ? ' downvote downvoted' : 'downvote' %>
      </span>
        <span class="span8">
            <h2><%= area.name %></h2>
             <span class = "tally"><%= render :partial =>'areas/tally', :locals => {:area => area}%></span>
        </span>
     
       <span class = "span1 center hide area-up-vote">
          <%= link_to image_tag("arrow_up_64.png"), vote_up_area_path(:state => area.state, :city => area.city, :id => area.id), :method => :post, :remote=>true, :class=> current_user && current_user.voted_for?(area) ? 'upvote upvoted ' : 'upvote' %>
      </span>
     
  </div>

<% end %>