<% content_for :title, "The best area to stay in " + @city %>
<div id = "areas-container" class = "container">
  <div class = "row">
    <span class = "col-sm-12 center">
      <h1 class = "area-intro"> The best area to stay in <span id = "city-name"><%= @city %></span> is</h1>
      <h1 class = "area-name"> <%= @area.name %> </h1>
    </span>
    <div class = "social-links">
      <span class = "social-prompt"></span>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="Staybl_Places">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
 
  <div class = "row">
    <div class = "col-sm-12">
      <%= content_tag :div, :id => 'map', :data => {:map_id => @area.id, :state => @state, :city => @city} do %>
          <input id = "map-search" class = "form-control" type = "text" placeholder = "Search the map"/>
          <div id = "map-canvas">
          </div>
      <%end%>
    </div>
  </div>
 <!--  <% if !@area.description.blank? %>
    <div class = "row">
      <div class = "col-sm-8 col-sm-offset-2">
        <h2 class = "area-name">About <%= @area.name %></h2>
        <p> <%=@area.description %> </p>
      </div>
    </div>
  <%end%> -->

  <div class = "row">
    <div class = "hotels col-md-6">
      <h3> Best places to stay in <%= @area.name %> </h3>
    </div>

    <div class = "restaurants col-md-6">
      <h3>Best places to eat in <%= @area.name %></h3>
    </div>
  </div>
 </div>





